## Problem 1 - Reading in a tricky data file (*5 points*)

You first task for this exercise is to read in the data file [data/1091402.txt](data/1091402.txt) to a variable called `data`. Please perform the tasks below by writing your code into the codeblocks in each section.

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Reading the data into a variable called `data` with the Pandas function `read_csv()`
    - Be sure the numerical values for rainfall and temperature are read in as numbers
    - The second row of the datafile should be skipped, but the text labels for the columns should be from the first row
    - The no-data values (assigned with value **`-9999`**) should properly be converted to `NaN`
- Calculating a number of values from the data file used in this problem
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

### Part 1 (*1.5 points*)

You should start by reading the data file.

- Read the data file into variable the variable `data`
    - Skip the second row
    - Convert the no-data values into `NaN` (values `-9999`)

In [1]:
import pandas as pd
fp = r"data/1091402.txt"
data = pd.read_csv(fp, delim_whitespace=True, skiprows=[1], na_values=["-9999"])

data.head()

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0

In [2]:
# This test print should print the head and the column names
print(data.head(1))
print(data.columns)

             STATION  ELEVATION  LATITUDE  LONGITUDE      DATE  PRCP  TAVG  \
0  GHCND:FIE00142080         51   60.3269    24.9603  19520101  0.31  37.0

   TMAX  TMIN
0  39.0  34.0
Index(['STATION', 'ELEVATION', 'LATITUDE', 'LONGITUDE', 'DATE', 'PRCP', 'TAVG',
       'TMAX', 'TMIN'],
      dtype='object')

In [3]:
# This test print should print the first row of data
print(data.loc[0].values)

['GHCND:FIE00142080' 51 60.3269 24.9603 19520101 0.31 37.0 39.0 34.0]

In [4]:
# This test print should print the last row of data in column 'TMIN'
print(data.tail(1)[['TMIN']].values[0][0])

nan

### Part 2 (*0.5 points*)

- Calculate how many no-data (NaN) values there are for the `TAVG` column
    - Assign your answer to a variable called `tavg_nodata_count`.

In [5]:
tavg_nodata_count = data["TAVG"].isna().sum()

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE

In [6]:
# This test print should print a number
print(tavg_nodata_count)

3308

### Part 3 (*0.5 points*)

- Calculate how many no-data (NaN) values there are for the `TMIN` column
    - Assign your answer into a variable called `tmin_nodata_count`

In [7]:
tmin_nodata_count = data["TMIN"].isna().sum()


# REPLACE THE ERROR BELOW WITH YOUR OWN CODE

In [8]:
# This test print should print a number
print(tmin_nodata_count)

365

### Part 4 (*0.5 points*)

- Calculate the total number of days covered by this data file
    - Assign your answer into a variable called `day_count`

In [9]:
data.dtypes

STATION       object
ELEVATION      int64
LATITUDE     float64
LONGITUDE    float64
DATE           int64
PRCP         float64
TAVG         float64
TMAX         float64
TMIN         float64
dtype: object

In [10]:


day_count = data["DATE"].count()

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE

In [11]:
# This test print should print a number
print(day_count)

23716

### Part 5 (*0.5 points*)

- Find the date of the oldest (first) observation
    - Assign your answer into a variable called `first_obs`

In [12]:


first_obs = data["DATE"].min()

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE

In [13]:
# This test print should print a number
print(first_obs)

19520101

### Part 6 (*0.5 points*)

- Find the date of the most recent (last) observation
    - Assign your answer into a variable called `last_obs`

In [14]:
last_obs = data["DATE"].max()

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE

In [15]:
# This test print should print a number
print(last_obs)

20171004

### Part 7 (*0.5 points*)

- Find the average temperature for the whole data file (all observtions) from column `TAVG`
    - Assign your answer into a variable called `avg_temp`

In [16]:
avg_temp = data["TAVG"].mean()

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE

In [17]:
# This test print should print a number
print(avg_temp)

41.32408859270874

### Part 8 (*0.5 points*)

- Find the average `TMAX` temperature over the Summer of 1969 (months May, June, July, and August of the year 1969)
    - Assign your answer into a variable called `avg_temp_1969`

In [18]:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0

In [19]:
#data["DATE"] = data["DATE"].astype(str)
summer_1969 = data[(data["DATE"] >= 19690501) & (data["DATE"] <= 19690830)]
summer_1969.head()
summer_1969.tail()
avg_temp_1969 = summer_1969["TMAX"].mean()

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE

In [20]:
# This test print should print a number
print(avg_temp_1969)

67.8360655737705

## Problem 2 - Calculating monthly average temperatures (*7.5 points*)

For this problem your goal is to calculate monthly average temperatures in degrees Celsius from the daily values we have in the data file. You can use the approaches taught in Lessons 4, 5, and 6 to solve this.

**You can continue working with the same data that you used in Problem 1.**

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Calculating the monthly average temperatures for the each month in the dataset (i.e., for each month of each year) using the approach introduced in lesson this week
    - You should store the monthly average temperatures in a new Pandas DataFrame called `monthly_data`
- Creating a new column called `temp_celsius` in the `monthly_data` DataFrame that contains the monthly average temperatures in Celsius
   - First store information about the date in a column called `DATE_m` (which should be a character string column containing the month and year info) along with the `TAVG` values in the `monthly_data` DataFrame
   - After this, you can convert the `TAVG` values in Fahrenheit to Celsius
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

In [21]:
data.dtypes

STATION       object
ELEVATION      int64
LATITUDE     float64
LONGITUDE    float64
DATE           int64
PRCP         float64
TAVG         float64
TMAX         float64
TMIN         float64
dtype: object

In [22]:
data["DATE_m"] = data["DATE"].astype(str)
data["DATE"] = data["DATE"].astype(str)
data["DATE_m"] = data["DATE_m"].str.slice(0,6).astype(int)
data["MONTH"] = data["DATE"].str.slice(4,6).astype(int)
data["YEAR"] = data["DATE"].str.slice(0,4).astype(int)

#grouped = data.groupby(by="DATE").mean(numeric_only=True)



monthly_data = data.groupby(by="DATE_m")[["TAVG", "MONTH"]].mean()
monthly_data = monthly_data.reset_index()
monthly_data['TEMP_C'] = (monthly_data['TAVG'] -32) / 1.8
#monthly_data.dtypes
#monthly_data.head()

# REPLACE THE ERROR BELOW WITH YOUR OWN

In [23]:
data.head()

,STATION,ELEVATION,LATITUDE,LONGITUDE,DATE,PRCP,TAVG,TMAX,TMIN,DATE_m,MONTH,YEAR
0,GHCND:FIE00142080,51,60.3269,24.9603,19520101,0.31,37.0,39.0,34.0,195201,1,1952
1,GHCND:FIE00142080,51,60.3269,24.9603,19520102,NaN,35.0,37.0,34.0,195201,1,1952
2,GHCND:FIE00142080,51,60.3269,24.9603,19520103,0.14,33.0,36.0,NaN,195201,1,1952
3,GHCND:FIE00142080,51,60.3269,24.9603,19520104,0.05,29.0,30.0,25.0,195201,1,1952
4,GHCND:FIE00142080,51,60.3269,24.9603,19520105,0.06,27.0,30.0,25.0,195201,1,1952

In [24]:
monthly_data.head()

   DATE_m       TAVG  MONTH     TEMP_C
0  195201  29.478261    1.0  -1.400966
1  195202  24.800000    2.0  -4.000000
2  195203  13.807692    3.0 -10.106838
3  195204  39.607143    4.0   4.226190
4  195205  44.666667    5.0   7.037037

In [25]:
#monthly_data = monthly_data.reset_index()

In [26]:
monthly_data.head()

   DATE_m       TAVG  MONTH     TEMP_C
0  195201  29.478261    1.0  -1.400966
1  195202  24.800000    2.0  -4.000000
2  195203  13.807692    3.0 -10.106838
3  195204  39.607143    4.0   4.226190
4  195205  44.666667    5.0   7.037037

In [27]:
# This test print should print the length of variable monthly_data
print(len(monthly_data))

790

In [28]:
# This test print should print the column names of monthly_data
print(monthly_data.columns)

Index(['DATE_m', 'TAVG', 'MONTH', 'TEMP_C'], dtype='object')

In [29]:
# This test print should print the mean of temp_celsius
print(monthly_data['temp_celsius'].mean())

KeyError: 'temp_celsius'

In [ ]:
# This test print should print the median of temp_celsius
print(monthly_data['temp_celsius'].median())

## Problem 3 - Calculating temperature anomalies (*7.5 points*)

Our goal in this problem is to calculate monthly temperature anomalies in order to see how temperatures have changed over time, relative to the observation period between 1952-1980.

**You can continue working with the same data that you used in Problem 1.**

**Notice**: Closely follow the instructions! For example, you should be sure to use **exactly** the same variable names mentioned in the instructions because your answers will be automatically graded, and the tests that grade your answers rely on following the same formatting or variable naming as in the instructions.

**Your score on this problem will be based on following criteria:**

- Calculating a mean temperature ***for each month*** over the period from 1952 up to and including 1980 using the data in the data file
    - You should end up with 12 values, 1 mean temperature for each month in that period, and store them in a new Pandas DataFrame called `reference_temps`
    - The columns in the new DataFrame should be titled `Month` and `ref_temp`
    
    For example, your `reference_temps` data should be something like that below, 1 value for each month of the year (12 total) and remember these temperatures should be in degrees Celsius:
   
| Month    | ref_temp         |
|----------|------------------|
| 01       | -5.838761        |
| 02       | -7.064088        |
| 03       | -3.874213        |
| ...      | ...              |

- Calculating a temperature anomaly for every month in the `monthly_data` DataFrame using the corresponding monthly average temperature for each of the 12 months
    - The temperature anomaly we want to calculate is simply the temperature for a given month in `monthly_data` (`temp_celsius` column) minus the corresponding monthly reference temperature in the `ref_temp` column of the `reference_temps` DataFrame
        - Hint: You need to make a table join (see [hints for this week](https://geo-python.github.io/site/lessons/L5/exercise-6.html))
    - You should thus end up with three new columns in the `monthly_data` DataFrame: 
        1. `Diff`: The temperature anomaly, the difference in temperature for a given month (e.g., February 1960) compared to the average during the reference period (e.g., for February 1952-1980), 
        2. `Month`: The month
        3. `ref_temp`: The monthly reference temperature
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook to your GitHub repository for this week's exercise

In [30]:
monthly_data

     DATE_m       TAVG  MONTH     TEMP_C
0    195201  29.478261    1.0  -1.400966
1    195202  24.800000    2.0  -4.000000
2    195203  13.807692    3.0 -10.106838
3    195204  39.607143    4.0   4.226190
4    195205  44.666667    5.0   7.037037
..      ...        ...    ...        ...
785  201706  56.300000    6.0  13.500000
786  201707  60.290323    7.0  15.716846
787  201708  60.290323    8.0  15.716846
788  201709  52.333333    9.0  11.296296
789  201710  48.250000   10.0   9.027778

[790 rows x 4 columns]

In [38]:
reference_temps = monthly_data[["MONTH", "TEMP_C"]]
reference_temps["ref_temps"] = monthly_data["TEMP_C"].round(2)
reference_temps["MONTH"] = reference_temps["MONTH"].astype(int)
reference_temps = reference_temps.drop(columns=["TEMP_C"])
reference_temps = reference_temps.groupby(by="MONTH").mean()

#reference_temps = reference_temps.groupby(by="MONTH").mean()

#reference_temps = reference_temps.reset_index()
#reference_temps = reference_temps[["MONTH", "ref_temps"]].loc["MONTH"].astype(int)
reference_temps

C:\Users\prass\AppData\Local\Temp\ipykernel_17804\644863478.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reference_temps["ref_temps"] = monthly_data["TEMP_C"].round(2)
C:\Users\prass\AppData\Local\Temp\ipykernel_17804\644863478.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reference_temps["MONTH"] = reference_temps["MONTH"].astype(int)

       ref_temps
MONTH
1      -5.350526
2      -5.941404
3      -2.440702
4       3.424211
5      10.180175
6      14.668246
7      17.280351
8      15.603684
9      10.595789
10      5.487719
11      0.645893
12     -3.211429

In [32]:
reference_temps.dtypes

monthly_data['MONTH'] = monthly_data['MONTH'].astype(int)
monthly_data.sort_values(by=['MONTH'], ascending=True)
monthly_data = monthly_data.reset_index()

In [41]:
monthly_temps_merged = pd.merge(monthly_data, reference_temps, on='MONTH', how='left')
monthly_temps_merged
#monthly_data.merge(reference_temps, left_on="MONTH", right_on="MONTH")

     index  DATE_m       TAVG  MONTH     TEMP_C  ref_temps
0        0  195201  29.478261      1  -1.400966  -5.350526
1        1  195202  24.800000      2  -4.000000  -5.941404
2        2  195203  13.807692      3 -10.106838  -2.440702
3        3  195204  39.607143      4   4.226190   3.424211
4        4  195205  44.666667      5   7.037037  10.180175
..     ...     ...        ...    ...        ...        ...
785    785  201706  56.300000      6  13.500000  14.668246
786    786  201707  60.290323      7  15.716846  17.280351
787    787  201708  60.290323      8  15.716846  15.603684
788    788  201709  52.333333      9  11.296296  10.595789
789    789  201710  48.250000     10   9.027778   5.487719

[790 rows x 6 columns]

In [45]:
monthly_temps_merged["DIFF"] = monthly_temps_merged["TEMP_C"] - monthly_temps_merged["ref_temps"]
monthly_temps_merged

     index  DATE_m       TAVG  MONTH     TEMP_C  ref_temps      DIFF
0        0  195201  29.478261      1  -1.400966  -5.350526  3.949560
1        1  195202  24.800000      2  -4.000000  -5.941404  1.941404
2        2  195203  13.807692      3 -10.106838  -2.440702 -7.666136
3        3  195204  39.607143      4   4.226190   3.424211  0.801980
4        4  195205  44.666667      5   7.037037  10.180175 -3.143138
..     ...     ...        ...    ...        ...        ...       ...
785    785  201706  56.300000      6  13.500000  14.668246 -1.168246
786    786  201707  60.290323      7  15.716846  17.280351 -1.563505
787    787  201708  60.290323      8  15.716846  15.603684  0.113162
788    788  201709  52.333333      9  11.296296  10.595789  0.700507
789    789  201710  48.250000     10   9.027778   5.487719  3.540058

[790 rows x 7 columns]

In [ ]:
#reference_temps = 

# REPLACE THE ERROR BELOW WITH YOUR OWN CODE

In [ ]:
# Let's confirm that we have the data
print(monthly_data.head())

In [ ]:
# This test print should print the length of the result
print(len(monthly_data))

In [ ]:
# This test print should print the mean difference value
print(monthly_data['Diff'].mean())

In [ ]:
# This test print should print the minimum difference value
print(monthly_data['Diff'].min())

In [ ]:
# This test print should print the maximum difference value
print(monthly_data['Diff'].max())

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4](Exercise-6-problem-4.ipynb)